
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blackbox {
    width: 400px;
    height: 220px;
    background-color: black;
    padding: 30px;
}
.blackbox h1 {
    color: white;
}
.blackbox:hover {
    background-color: orangered;
}
.yellowbox {
    width: 200px;
    height: 120px;
    background-color: yellow;
    font-size: 25px;
    margin: 0;
    display: none;
}
/* .yellowbox {
    display: block;
} */

.blackbox:hover>.yellowbox{
    display: block;
}
.blackbox h1:hover+.yellowbox {
    background-color: cyan;
}




.menu {
    width: 400px;
    font-size: 30px;    /* 상속 */
    
}
.menu p {
    background-color: black;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}
.submenu {
    background-color: gray;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
    display: none;
}

/* .menu p:hover+.submenu {
    display: block;
} */

.menu:hover .submenu {
    display: block;
}

.submenu>li {
    color: white;
    padding: 10px;
    border-bottom: 3px solid #444;
}




.service_box {
    width: 300px;
    display: inline-block;
    float: left;
}
.service_box>p {
    background-color: hotpink;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
}
.submenu_list {
    background-color: orange;
    color: white;
    font-size: 20px;
    display: none;
}

.service_box:hover p {
    background-color: red;
}

.submenu_list li {
    padding: 10px 20px;
}
.service_box:hover .submenu_list {
    display: block;
}
.submenu_list li:hover {
    background-color: black;
}
