* {
    margin: 0; padding: 0; 
    box-sizing: border-box; list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}
h1 {
    cursor: pointer;
}
h1 span {
    color: orangered;
}
.login_menu {
    display: flex;
    font-size: 1.5rem;
}
.login_menu li {
    margin-left: 20px;
    cursor: pointer;
}
.login_menu li:hover {
    color: orange;
}
.login_menu li::after {
    content: '';
    width: 3px;
    height: 16px;
    background-color: gray;
    display: inline-block;
    margin-left: 20px;
}
.login_menu li:last-child::after {
    display: none;
}

nav {
    background-color: darkblue;
    color: white;
    width: 1200px;
    margin: 0 auto;
}
nav a {
    color: #fff;
}
.gnb {
    display: flex;
}
.gnb>li {
    position: relative;
    flex: 1;
}
.gnb>li a {
    display: inline-block;
    width: 100%; 
    padding: 10px 0;
    text-align: center;
    font-size: 1.3rem;
}
.gnb>li:hover a {
    background-color: coral;
}
/* .gnb a:hover {
    background-color: cyan;
} */
.submenu {
    position: absolute;
    left: 0;
    top: 100%;

    width: 100%;
    background-color: purple;
    display: none;
    z-index: 100;
}
.submenu li {
    padding: 5px;
}
.gnb>li:hover .submenu {
    display: block;
}


.slide {
    position: relative;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.inner {
    display: flex;
    width: 3600px;
}
.inner>div {
    width: 1200px;
    height: 500px;
    background-size: cover;
    background-position: center;
    font-size: 5rem;color: #fff;
}
.leftbtn {
    position: absolute;
    left: 20px;
    top: 200px;
    font-size: 60px;
    color: red;
    cursor: pointer;
}
.rightbtn {
    position: absolute;
    right: 20px;
    top: 200px;
    font-size: 60px;
    color: red;
    cursor: pointer;
}
.item1 {background-image:url('../img/ss1.jpg')}
.item2 {background-image:url('../img/ss2.jpg')}
.item3 {background-image:url('../img/ss3.jpg')}


.black_bg {
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.login_modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px black;
    display: none;
}
.login_modal h2 {
    margin-bottom: 20px;
}
.login_modal input {
    border-radius: 0 !important;
    border: 2px solid black;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.login_modal button {
    border: 0;
    border-radius: 0;
    background-color: orangered;
    color: #fff;
    /* width: 80px; */
    padding: 5px 20px;
}
.login_modal p {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 2rem;
}