*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.graybox{
    width: 500px;
    background-color: lightgray;
    margin: 100px auto 0;
    padding: 30px;
}
.graybox img{
    width: 100%;
}
.graybox h3{
    color: blue;
    margin-bottom: 10px;
}

.graybox .info{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.graybox .price{
    font-size: 1.5rem;
    color: red;
    font-weight: 700;
}
.numbox{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}
.numbox button{
    font-size: 2rem;
    border: 0;
    border-radius: 0;
    background-color: white;
}
.numbox span{
    background-color: white;
    padding: 0 20px;
}

.w1{
    text-align: center;
}
.bottombox{
    text-align: center;
}
p{
    display: inline-block;
    font-size: 2rem;
}

#price{color: red;}
#price2{color: green;}
#price3{color: blue;}