/* css reset */
* {
    font-style: italic;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}




/* body {
    background-color: red;
} */

div>h1 {
    color: red;
}
p>span {
    color: blue;
}
.lastitem>span {
    color: orange;
}
ul span {
    font-size: 100px;
}
/* .tip span {
    text-decoration: underline;
} */
/* 
span {
    text-decoration: line-through;
} */

/* li .line {
    text-decoration: line-through;
}
p .line {
    text-decoration: line-through;
} */


span.line {
    text-decoration: line-through;
}

p.hello {
    background-color: red;
}
p#bye {
    background-color: yellow;
}
h2.center {
    text-align: center;
}



h4+h5 {
    color: pink;
}

p+div {
    color: orange;
}
p~div {
    color: blue;
}

/* .c1 {
    font-size: 50px;
}
.c2 {
    font-size: 50px;
}
.c3 { 
    font-size: 50px;
} */

.c1,
.c2,
.c3 {
    font-size: 50px;
}

section, p {
    background-color: purple;
}
.input_box {
    margin-top: 100px;
    margin-bottom: 100px;
}

input[type="password"] {
    background-color: yellow;
}

a[href="http://naver.com"] {
    font-size: 50px;
}

input[type*="pass"] {
    background-color: green;
}

a[href*="kakao"] {
    color: orange;
}

div[class^="c"] {
    background-color: orange;
}
div[class$="c"] {
    background-color: cyan;
}

/* input중에 email타입인건 노랑색 */

.input_box input[type="email"] {
    background-color: yellow;
}


.mylist>li:first-child {
    background-color: orange;
}
.mylist>p:first-child {
    background-color: yellow;
}
.mylist>li:last-child {
    background-color: cyan;
}
.mylist>p:last-child {
    background-color: pink;
}


.mylist>p:last-of-type {
    background-color: green;
}
.mylist>p:first-of-type {
    background-color: red;
}

.mylist>p:nth-of-type(2){
    color: red;
}

/* .mylist2>p:nth-child(3) {
    font-size: 50px;
}
.mylist2>p:nth-of-type(3) {
    color: white;
}

.mylist2>p:nth-child(1) {
    background-color: red;
}
.mylist2>p:nth-child(2) {
    background-color: blue;
}
.mylist2>p:nth-child(3) {
    background-color: black;
}
.mylist2>p:nth-child(4) {
    background-color: rgb(200, 32, 96);
} */

p {
    background-color: white;
}
/* .mylist2>p {
    background-color: black;
    color: white;
} */

/* 홀수
까만 배경
하얀 글자 */
/* .mylist2>p:nth-child(2n){
    background-color: lightgray;
    color: black;
}
.mylist2>p:nth-child(2n-1){
    background-color: black;
    color: white;
} */


/* .mylist2>p:nth-child(4){
    background-color: lightgray;
}
.mylist2>p:nth-child(6){
    background-color: lightgray;
} */

/* .mylist2>p:nth-child(3n-2){
    background-color: red;
}
.mylist2>p:nth-child(3n-1){
    background-color: blue;
}
.mylist2>p:nth-child(3n){
    background-color: yellow;
} */

.mylist2>p:only-child {
    background-color: cyan;
    font-size: 100px;
}

#list2 :not(.a) {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}


/* #list2 p.car {
    text-decoration: none;
} */

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
}
.box:hover {
    background-color: yellow;
    width: 300px;
    height: 300px;
}