/* body {
    background-color: yellow;
} */

.htmlbox {
    width: 500px;
}
h1 {
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding: 10px 20px;
}
.contents {
    background-color: #2d9f8e;
    color: white;
}

dl.htmlbox2 {
    width: 600px;
}

dl.htmlbox2 dt {
    background-color: hotpink;
    color: white;
    padding: 20px;
    font-size: 20px;
}
dl.htmlbox2 dd {
    background-color: black;
    color: white;
    margin-left: 0;
    padding: 20px;
    opacity: 0;
}
dl.htmlbox2 dt:hover+dd {
    opacity: 1;
}


/* 공지사항 디자인 */
/* 2022.10.27 css수업중 */

section {
    width: 550px;
    border: 3px dashed blue;
    padding: 10px;
}
section>h2 {
    background-color: purple;
    color: white;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px 0px 10px 0px;

}
section>ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
section li {
    background-color: #a59ff8;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}
section li:nth-child(2n){
    background-color: #2d9f8e;
}


