* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: yellow;
}

section {
    width: 700px;
    margin: 60px auto;
    font-size: 40px;
}
.writebox {
    background-color: orangered;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #fff;
}
.writebox>div {
    display: flex;
    justify-content: center;
}
input {
    border: 0;
    border-radius: 0;
    font-size: 30px;
    padding: 10px;
    margin-right: 5px;
}
button {
    border: 0;
    border-radius: 0;
    font-size: 30px;
    padding: 8px 10px;
}

.listbox {
    background-color: white;
}
li {
    position: relative;
    padding: 10px;
    padding-left: 40px;
    font-size: 25px;
    cursor: pointer;
}

li:nth-child(2n) {
    background-color: #ddd;
}
li:hover {
    background-color: pink;
}


li.checked {
    background-color: #888;
    color: #ccc;
    text-decoration: line-through;
}
/* 체크무늬만들기 */
li.checked::before {
    position: absolute;
    left: 15px;
    top: 16px;
    content: '';
    display: inline-block;
    width: 7px;
    height: 15px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
}