* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
dl {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
}
dt {
    background-color: purple;
    color: #fff;
    font-size: 30px;
    padding: 10px;
}
dd {
    background-color: pink;
    padding: 10px;
    display: none;
}
dd.show {
    display: block;
}

h5 {
    font-size: 60px;
    text-align: center;
}
.redtxt {
    color: red;
}
.underline {
    text-decoration: underline;
}

h6 {
    display: none;
}