* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: pink;
}

/* @media only screen and (max-width:500px){
    body {
        background-color: black;
        color: #fff;
    }
} */

/* @media(max-width: 600px){
    body {
        background-color: #fff;
    }
    h1 {
        color: #fff;
    }
} */

/* 디바이스의 크기가 클때만 제목을 가운데정렬 */
@media(min-width: 800px){
    h1 {
        text-align: center;
    }
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.menu>li {
    width: 200px;
    padding: 10px;
}
.menu1 {
    background-color: #9917e4;
    color: #fff;
}
.menu2 {
    background-color: #cee417;
    color: black;
}
.menu3 {
    background-color: darkblue;
    color: #fff;
}

@media(max-width: 483px){
    .menu {
        display: block;
    }
    .menu>li {
        width: 100%;
        text-align: center;
    }
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #177ce4;
    color: #fff;
    padding: 15px;
}
.logo {
    font-size: 35px;
}
.gnb {
    display: flex;
    font-size: 15px;
}
.gnb li {
    margin-left: 15px;
}
header .bar {
    display: none;
}

@media(max-width: 483px){
    .gnb {
        display: none;
    }
    header .bar {
        display: block;
        font-size: 40px;
    }
}



/* 마지막 예제 답~~ */
@media(max-width: 483px){
    .gnb {
        position: absolute;
        top: 84px;
        left: 0;
        width: 100%;
        background-color: #177ce490;
        display: block;
        text-align: center;
        padding: 100px 0;
        font-size: 30px;
        font-weight: bold;
    }
    .gnb li {
        margin-left: 0;
    }
}