body {
    background-color: #eee;
}
h3 {
    color: pink;
    background-color: #000;
    font-size: 35px;
    font-weight: 600;
}

.tomorrow {
    color: yellow;
}

li {
    font-size: 50px;
}
.redtext {
    color: red;
}

#big {
    font-size: 100px;
}

/* #list1 {
    color: red;
}
#list2 {
    color: red;
    text-decoration: underline;
}
#list4 {
    color: green;
}
#list5 {
    text-decoration: underline;
} */

.redtxt {
    color: red;
}
.greentxt {
    color: green;
}
.under {
    text-decoration: underline;
}
.fontbig {
    font-size: 100px;
}


/* div {
    border: 10px solid yellow;
} */

.box1 {
    width: 300px;
    height: 200px;
    background-color: #045FB4;
}

.box2 {
    width: 300px;
    height: 150px;
    background-color: #B40404;
   
}

.yellowline {
    border: 10px solid yellow;
}