* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.section1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.all {
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}
h2 { font-size: 50px; }
p { font-size: 32px; }

.no_reverse .txt {
    padding-left: 100px;
}

#menu {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 70;
}
#menu li {
    background-color: white;
    padding: 10px 30px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid #000;
}
#menu li.active {
    background-color: cyan;
}
#menu li a {
    text-decoration: none;
    color: #000;
}

.fp-viewing-s5 #menu li{
    background-color: gray;
}


.section .all{
    opacity: 0;
    transform: scale(0.5);
}

.section.active .all{
    opacity: 1;
    transition: 3s;
    transform: scale(1);
}


@media(max-width: 900px){
    .all { flex-direction: column-reverse; }
    .no_reverse { flex-direction: column; }
    h2 { font-size: 30px; text-align: center; }
    p { font-size: 15px; }

    .no_reverse .txt {
        padding-left: 0px;
    }
}